{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>
{% if closest_task_list %}
    <ul>
        {% for task in closest_task_list %}
            <li>
                <a href="{% url 'tasks:detail' task.id %}">{{ task.task_name }}</a>
                <ul>
                    <li>deadline : {{ task.deadline }}</li>
                    {% if task.subtask_set.all %}
                        <li>progress rate : {{ task.progress_rate }} %</li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Have a break time!</p>
{% endif %}
<a href="{% url 'tasks:create' %}">Add</a>
</body>
</html>