<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if latest_task_list %}
    <ul>
    {% for task in latest_task_list %}
        <li>
            <a href="{% url 'tasks:detail' task.id %}">{{ task.task_name }}</a>
            <ul>
                <li>deadline : {{ task.deadline }}</li>
                <li>progress rate : {{ task.progress_rate }} %</li>
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Have a break time!</p>
{% endif %}
</body>
</html>